body{
    margin: 0%;
}
.div1
{
    background-color: rgb(255, 0, 0);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;

    animation-name: move_div;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}

@keyframes move_div{
    0%{
        top:0%;
        left:0%;
    }
    25%{
        top:0px;
        left:400px;
        background-color: rgb(21, 255, 0);
    }
    50%{
        left: 400px;
        top:400px;
    }
    75%{
        top:400px;
        left:0;
        background-color: blue;
    }
    100%{
        top:0px;
        left:0px;
        background-color: rgb(132, 0, 255);
    }
}